<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/main.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

  <style>

    button {
      background-color: rgb(91, 84, 80);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 24px;
    }
    form,
    h2 {
      text-align: center;
      padding: 10px;
    }
  </style>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Login Smart-ToDo-List</title>

    <!-- <script type="text/javascript" src="../dragRows.js"></script> -->

    <script>
      $(document).ready(function() {

        $('#movie, #restaurant, #book, #product').sortable({
          connectWith: '.sortable',
          items: 'tr:not(:first)',

        stop: function(event, ui) {
          // let dataOrder = $(this).sortable('toArray')
            $.ajax({
              type: 'POST',
              data: {
                data: {
                  category: ui.item[0].parentElement.id,
                  id: ui.item[0].id
                }
              },
              url: `/main`,
              success: function(msg) {
                console.log('test test')
              }
            })
          }
          }).disableSelection()
        })
      </script>

  </head>

  <body>
    <%- include('partials/header'); %>
    <h2>To Do List</h2>
    <form action="/api/todos/todo/"
    method="POST">
      <input type="text" name="todoitem" placeholder="Enter your To Do" />

      <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>

<div class='main-body'>
  <div class="container">

    <table>
      <tbody id="movie" class="sortable">
        <!-- <tr> -->
          <th id="header"> <a> Film/ Tv Series </a> </th>
        <!-- </tr> -->
        <% for(let index in movie) { %>
        <tr id="<%=movie[index].id %>">
          <td>
            To watch <%= movie[index].description %>
          <td>
            <form method="POST" action="/api/todos/complete/<%=movie[index].id %>/"><button type="submit" class="btn btn-outline-primary"> Complete </button></form></td></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class= "container" >
    <table>

      <tbody id="restaurant" class="sortable">


          <th id="header"> <a> Restaurant </a> </th>

        <tr></tr>
        <% for(let index in restaurant) { %>
          <tr id="<%=restaurant[index].id %>">
            <tr>

            </tr>

            <td>
              To eat <%= restaurant[index].description %>
            <td>
              <form method="POST" action="/api/todos/complete/<%=restaurant[index].id %>/">
                <button type="submit" class="btn btn-outline-primary"> Complete </button>
              </form>
            </td>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="container" >
    <table>
      <tbody id="book" class="sortable">
        <tr>
          <th id="header"> <a> Books </a> </th>
        </tr>

        <% for(let index in book) { %>
          <tr id="<%=book[index].id %>">
            <td>
              To read <%= book[index].description %>
            <td>
              <form method="POST" action="/api/todos/complete/<%=book[index].id %>/" >
                <button type="submit" class="btn btn-outline-primary">
                   Complete
                </button>
              </form>
            </td>
          </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="container" >
    <table>
      <tbody id="product" class="sortable">
        <tr>
          <th id="header"> <a> Products </a> </th>
        </tr>
        <% for(let index in product) { %>
          <tr id="<%=product[index].id %>">
            <td >
              To buy <%= product[index].description %>
            <td>
              <form method="POST" action="/api/todos/complete/<%=product[index].id %>/">
                <button type="submit" class="btn btn-outline-primary">
                  Complete
                </button>
              </form></td></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>
  <script>
    feather.replace()
  </script>
    <script type="text/javascript" scr="../draggableTableRows.js"></script>

  </body>
</html>
